FIXER_ENDPOINT  =       http://data.fixer.io/api
FIXER_KEY       =       FIXER_KEY
PORT            =       4646
DB_PASSWORD     =       DB_PASSWORD
DB_USERNAME     =       challenge
DB_NAME         =       challenge
DB_HOST         =       DB_HOST